<!DOCTYPE html>
<html data-ng-app="App">
<head>
    <title></title>
	<meta charset="utf-8" />
    <link href="content/bootstrap.min.css" rel="stylesheet">
    <link href="content/styles/main.css" rel="stylesheet">
    <base href="/">
</head>
<body>

    <nav data-ng-controller="indexController" class="navbar navigation">
        <ul class="nav float-xs-right navbar-nav">
            <li data-ng-hide="authentication.isAuth" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li data-ng-hide="!authentication.isAuth" class="nav-item">
                <a class="nav-link" href="/account">Home</a>
            </li>
            <li data-ng-hide="!authentication.isAuth" class="nav-item">
                <a class="nav-link" href="/search">Search</a>
            </li>
            <li data-ng-hide="!authentication.isAuth" class="nav-item">
                <a class="nav-link" href="/podcasts">YourPods</a>
            </li>
            <li data-ng-hide="!authentication.isAuth" class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li data-ng-hide="authentication.isAuth" class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li data-ng-hide="!authentication.isAuth" class="nav-item">
                <a data-ng-click="logOut()" class="nav-link" href="">Logout</a>
            </li>
        </ul>
    </nav>

    <div data-ng-view=""></div>

    <!--<section class="container-fluid" ng-controller="searchController as ctrl" ng-hide="!ctrl.nowPlaying">
        <div class="panel panel-default episodes" ng-model="getPodcastFeed">
            <p>{{episode.title}}</p>
            <audio controls>
                <source src="{{episode.url}}" type="audio/ogg" />
                <source src="{{episode.url}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </section>-->

    <!--Angular Stuff-->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>

    <script src="app/app.js"></script>

    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/searchService.js"></script>
    <script src="app/services/blogService.js"></script>
    <script src="app/services/podcastService.js"></script>

    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/searchController.js"></script>
    <script src="app/controllers/blogController.js"></script>
    <script src="app/controllers/podcastController.js"></script>
</body>
</html>
