<div class="jumbotron col-md-8">
    <h1>MyPod.</h1>
    <div class="form-group">
        <p>A Podcast player designed for users to play and discuss their favorite podcasts. Listen to new episodes and blog about what you've heard. I've spent the last two years doing this and filling notebooks with ideas, reminders, and thought experiments. I believe it's just another way to utilize this incredible media platform as well as grow on a personal level and be able to revisit past thoughts and ideas.</p>
    </div>
</div>