<section class="container-fluid" ng-init="getAllPodcasts()" ng-controller="podcastController as ctrl">
    <h1 class="lead">show others what you listen to by subscribing to podcasts.</h1>
    <div class="panel panel-default podcasts col-sm-6">
        <h2>yourpods.</h2>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="result in ctrl.subscriptionList">
                <div class="container-fluid">
                    <img class="col-xs-4" src={{result.imageUrl}} style="max-width: 75px; min-height: 75px; min-width: 110px;" />
                    
                    <h5 class="col-xs-8">{{result.title}}</h5>
                    
                </div>
               
                <a ng-click="ctrl.unfollowPodcast()" class="btn btn-default">UnFollow</a>
                <a ng-click="ctrl.getEpisodes(result.feedUrl)" class="btn btn-default">Episodes</a>
            </li>
        </ul>
    </div><br />

    <div class="col-sm-6" ng-hide="ctrl.episodes.length == 0">
        <h2>episodes.</h2>
        <div class="panel panel-default episodes" ng-model="getPodcastFeed">
            <ol class="list-group">
                <li class="list-group-item" ng-repeat="episode in ctrl.episodes">
                    <p>{{episode.title}}</p>
                    <audio controls> <source src="{{episode.url}}" type="audio/mpeg"></audio>
                </li>
            </ol>
        </div>

    </div>
</section>